


 <!-- Content Header (Page header) -->
 <section class="content-header">
   <div class="row">
     (App. version {{version}})
   </div>
 </section>

 <!-- Main content -->
 <section class="content">
   <!-- Default box -->
   <strong>Welcome Page</strong>
 </section><!-- /.content -->
